---
layout: page
title: Publications
header: Publications
group: navigation
---

<p>ORCID: <a href="http://orcid.org/0000-0002-9843-8988">0000-0002-9843-8988</a></p>

<p>My <a href="http://scholar.google.co.uk/citations?user=RBacoAEAAAAJ&hl=en">Google Scholar profile</a>.</p>

{% assign year = '' %}

{% for pub in site.data.pubs %}
  {% capture pub_date %}{{ pub.PubDate | split:" " | first }}{% endcapture %}

  {% if pub_date != year %}
     <h2>{{ pub_date }}</h2>
     {% assign year = pub_date %}
  {% endif %}

  <p>
     {{ pub.AuthorList | array_to_sentence_string }}
     <b>{{ pub.Title }}</b>
     <em>{{ pub.Source }}</em>
     {{ pub.SO }}
     (<a href="http://dx.doi.org/{{pub.DOI}}">{{ pub.DOI }}</a>)
  </p>

{% endfor %}
</ul>
