---
layout: page
title: Publications
header: Publications
group: navigation
---

<p>ORCID: <a href="http://orcid.org/0000-0002-9843-8988">0000-0002-9843-8988</a></p>

<p>My <a href="http://scholar.google.co.uk/citations?user=RBacoAEAAAAJ&hl=en">Google Scholar profile</a>.</p>

<h2>2016</h2>

Abrahams, K.A. et al., 2016. Identification of KasA as the cellular target of an anti-tubercular scaffold. Nature communications, 7, p.12581. Available at: <http://dx.doi.org/10.1038/ncomms12581>.

Connor, T.R. et al., 2016. CLIMB (the Cloud Infrastructure for Microbial Bioinformatics): an online resource for the medical microbiology community. Microbial Genomics, 2(9). Available at: <http://mgen.microbiologyresearch.org/content/journal/mgen/10.1099/mgen.0.000086> [Accessed November 8, 2016].

Diallo, B. et al., 2016. Resurgence of Ebola Virus Disease in Guinea Linked to a Survivor With Virus Persistence in Seminal Fluid for More Than 500 Days. Clinical infectious diseases: an official publication of the Infectious Diseases Society of America, 63(10), pp.1353–1356. Available at: <http://dx.doi.org/10.1093/cid/ciw601>.

Dudas, G. et al., 2016. Virus genomes reveal the factors that spread and sustained the West African Ebola epidemic. bioRxiv, p.071779. Available at: <http://biorxiv.org/content/early/2016/09/02/071779.1.abstract> [Accessed November 7, 2016].

Faria, N.R. et al., 2016. Mobile real-time surveillance of Zika virus in Brazil. Genome medicine, 8(1), p.97. Available at: <http://dx.doi.org/10.1186/s13073-016-0356-2</a>.

Gerasimidis, K. et al., 2016. The effect of DNA extraction methodology on gut microbiota research applications. BMC research notes, 9, p.365. Available at: <http://dx.doi.org/10.1186/s13104-016-2171-7>.

Keita, M. et al., 2016. Unusual Ebola Virus Chain of Transmission, Conakry, Guinea, 2014-2015. Emerging infectious diseases, 22(12), pp.2149–2152. Available at: <http://dx.doi.org/10.3201/eid2212.160847>.

McMurray, C.L. et al., 2016. Staphylococcal species heterogeneity in the nasal microbiome following antibiotic prophylaxis revealed by tuf gene deep sequencing. Microbiome, 4(1), p.63. Available at: <http://dx.doi.org/10.1186/s40168-016-0210-1>.

Quick, J. et al., 2016. Real-time, portable genome sequencing for Ebola surveillance. Nature, 530(7589), pp.228–232. Available at: <http://dx.doi.org/10.1038/nature16996>.

Sissoko, D. et al., 2016. Ebola virus persistence in breast milk after no reported illness: a likely source of virus transmission from mother to child. Clinical infectious diseases: an official publication of the Infectious Diseases Society of America. Available at: <http://dx.doi.org/10.1093/cid/ciw793>.

Stoiber, M.H. et al., 2016. De novo Identification of DNA Modifications Enabled by Genome-Guided Nanopore Signal Processing. bioRxiv, p.094672. Available at: <http://www.biorxiv.org/content/early/2016/12/15/094672.abstract> [Accessed December 31, 2016].


{% assign year = '' %}

{% for pub in site.data.pubs %}
  {% capture pub_date %}{{ pub.PubDate | split:" " | first }}{% endcapture %}

  {% if pub_date != year %}
     <h2>{{ pub_date }}</h2>
     {% assign year = pub_date %}
  {% endif %}

  <p>
     {{ pub.AuthorList | array_to_sentence_string }}
     <b>{{ pub.Title }}</b>
     <em>{{ pub.Source }}</em>
     {{ pub.SO }}
     (<a href="http://dx.doi.org/{{pub.DOI}}">{{ pub.DOI }}</a>)
  </p>

{% endfor %}
</ul>
